body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:#f5f5f5;
  color:#222;
  padding:20px;
}

.encabezado,.pie{
  background:#111;
  color:#fff;
  text-align:center;
  padding:20px;
  border-radius:12px;
}

.menu a{
  display:inline-block;
  background:#333;
  color:#fff;
  padding:6px 12px;
  border-radius:8px;
  margin:0 5px;
  text-decoration:none;
}

main{ max-width:900px; margin:20px auto; }

.hero,.proyectos{
  background:#fff;
  padding:15px;
  border-radius:12px;
  margin-bottom:20px;
}

.hero-img{
  width:100%;
  height:230px;
  object-fit:cover;
  border-radius:12px;
  display:block;
}

.tarjetas{
  margin-top:15px;
  display:flex;
  flex-direction:column;
  gap:15px;
}

.tarjeta{
  background:#fafafa;
  border:1px solid #ddd;
  border-radius:12px;
  padding:12px;
}

.tarjeta img{
  width:100%;
  height:160px;
  object-fit:cover;
  border-radius:10px;
  margin-bottom:10px;
  display:block;
}

.tarjeta a{ color:#0b57d0; }

.redes a{
  color:#fff;
  margin:0 8px;
  text-decoration:none;
}

@media (min-width:768px){
  .hero{ display:flex; gap:15px; align-items:center; justify-content:space-between; }
  .hero-texto{ width:55%; text-align:left; }
  .hero-img{ width:40%; height:220px; }
  .tarjetas{ flex-direction:row; }
  .tarjeta{ width:33%; }
}
